.toolbar {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $md-blue-grey-900;
    margin-bottom:1em;
    margin-left: -15px;
    margin-right: -15px;
}
