$white: #ffffff;

$md-red-900: #B71C1C;

$md-blue-900: #0D47A1;
$md-blue-800: #1565C0;
$md-blue-500: #2196F3;
$md-blue-300: #64B5F6;
$md-blue-200: #90CAF9;
$md-blue-50: #E3F2FD;

$md-indigo-900: #1A237E;

$md-deep-orange-50: #FBE9E7;
$md-deep-orange-100:#FFCCBC;
$md-deep-orange-200: #FFAB91;
$md-deep-orange-400: #FF7043;
$md-deep-orange-500: #FF5722;
$md-deep-orange-600: #F4511E;
$md-deep-orange-700: #E64A19;
$md-deep-orange-800: #D84315;
$md-deep-orange-900: #BF360C;

$md-grey-100: #F5F5F5;
$md-grey-200: #EEEEEE;
$md-grey-300: #E0E0E0;
$md-grey-400: #BDBDBD;
$md-grey-500: #9E9E9E;
$md-grey-600: #757575;
$md-grey-700: #616161;
$md-grey-800: #424242;
$md-grey-900: #212121;

$md-blue-grey-50: #ECEFF1;
$md-blue-grey-100: #CFD8DC;
$md-blue-grey-200: #B0BEC5;
$md-blue-grey-300: #90A4AE;
$md-blue-grey-400: #78909C;
$md-blue-grey-500: #607D8B;
$md-blue-grey-600: #546E7A;
$md-blue-grey-700: #455A64;
$md-blue-grey-800: #37474F;
$md-blue-grey-900: #263238;

$md-green-300: #81C784;
$md-green-400: #66BB6A;

$primary-accent: $md-deep-orange-800;

$list-item-divider: $md-grey-300;
$list-item-hover-background: $md-grey-100;

$border-color: $md-grey-300;